* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

#main {
    height: 35em;
    width: 18.5em;
    background-size: cover;
    border: 4px solid black;
    background-color: black;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 25px;
    padding: 0 5px 5px 5px;
    filter: drop-shadow(0 0 0.7rem black);
    /* position: absolute; */
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#network {
    width: 5em;
    /* background-color: red; */
    -moz-animation: marquee 2s linear infinite;
    -webkit-animation: marquee 2s linear infinite;
    animation: marquee 2s infinite alternate linear;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    15% {
        transform: translateX(100%);
    }
}

#sub-div {
    height: 1.2em;
    width: 13em;
    background-color: black;
    border-radius: 0 0 20px 20px;
    /* border-radius: 20px; */
    padding: 7px;
    position: relative;
}

#circle {
    height: 1em;
    width: 1em;
    background-color: rgb(41, 39, 39);
    /* background-color:red; */
    border-radius: 50%;
    margin-left: 5px;
}

#oval {
    height: 1em;
    width: 6em;
    background-color: rgb(41, 39, 39);
    margin-left: 25px;
    border-radius: 10px;
}

#circle1 {
    height: 1em;
    width: 1em;
    background-color: rgb(41, 39, 39);
    border-radius: 50%;
    margin-left: 6.5em;
}

#icon {
    width: 7.7em;
    font-size: 13px;
}

#icon i {
    padding: 0 2px 0 4px;
}

#date {
    top: 15px;
    height: fit-content;
    width: fit-content;
    margin: auto;
    position: relative;
}

#lock{
    color: white;
    height: 20px;
    width: 50px;
    margin: auto;
    text-align: center;
    /* background-color: red; */
}

#myDate {
    height: 20px;
    width: 130px;
    /* background-color: red; */
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: serif;
    font-weight: 100;
    /* position: relative; */
}

#myTime {
    height: 40px;
    width: 130px;
    font-family: sans-serif;
    color: white;
    /* background-color: yellow; */
    text-align: center;
    font-size: 20px;
}

#power {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5em;
}

#volume {
    margin: 0 0 0 -13px;
    /* position: relative; */
}

#volume1 {
    height: 40px;
    width: 5px;
    background-color: black;
    cursor: pointer;
    /* margin: 0 0 0 0; */
    border-radius: 5px 0 0 5px;
}

#volume2 {
    height: 40px;
    width: 5px;
    background-color: black;
    margin: 10px 0 0 0;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}

#power-btn {
    height: 5em;
    width: 0.4em;
    background-color: black;
    border-radius: 0 10px 10px 0;
    margin: 0 0 0 18.9em;
    cursor: pointer;
    position: absolute;
}

#cam {
    height: 40px;
    /* border: 1px solid black; */
    width: 94%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    bottom: 0;
    z-index: 2;
}

#Open {
    margin-top: 35px;
    height: 5px;
    width: 110px;
    background-color: white;
    /* margin-inline: auto; */
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 2;
}


#touch{
    color: white;
    text-decoration: underline;
}

#camera{
    color: white;
    text-decoration: underline;
}

#touch button {
    /* padding: 3px; */
    height: 35px;
    width: 35px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.324);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    /* position: absolute; */
}

#camera button {
    height: 35px;
    width: 35px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.324);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    /* position: absolute; */
}

#camera i {
    font-size: 19px;
}

#password{
    height: 35.6em;
    width: 19.7em;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    margin: 0 0 0 -10px;
    border-radius: 25px;
}


#padlock{
    color: white;
    height: 20px;
    width: 50px;
    margin: auto;
    text-align: center;
    padding: 48px 0 0 0 ;
}

#enter{
    height: 40px;
    padding: 60px 0 0 0 ;
}

#enter p{
    text-align: center;
    color: white;
    font-family: sans-serif;
}

#dot{
    text-align: center;
}

#dot input{
    border: none;
    outline: none;
    background:transparent;
    color: white;
    text-align: center;
    font-size: 25px;
    width: 100px;
}

#passcode{
    text-align: center;
    flex-wrap: wrap;
    width: 240px;
    height: 19em;
    margin: auto;
    /* background-color: red; */
}

#passcode p{
    font-size: 12px;
}

#passcode button{
    margin-top: 5px;
    height: 70px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    background-color: rgba(79, 72, 72, 0.482);
}